/* MovieDetails.css */
.movie-details {
    text-align: center;
    padding: 20px;
  }
  
  .movie-details h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .movie-details p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  /* Styling for the IMDb rating */
  .movie-details p:nth-child(3) {
    color: #f39c12;
    font-weight: bold;
    font-size: 20px;
  }
  